.article {
  margin-bottom: 40px;
}

.articleSummary {
  margin-bottom: 40px;
}

.articleSummary .content {
  font-weight: bold;
  font-size: 22px;
}

.content {
  font-family: EBGaramond;
  font-size: 20px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #626262;
}