h4 {
  font-weight: bold;
}

.header {
  background-color: #000;
  padding: 20px;
}

.header p {
 color: #fff;
}

.header img {
  height: 30px;
}

.sectionHeading {
  margin-top: 40px;
}

.sectionSubHeading {
  margin-top: 20px;
}

.verticleAlignCenter {
  align-items: center;
  display: flex;
}

.caption {
  font-size: 18px;
}

.darkOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5
}

// media queries
@media (min-width: 992px)
{
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 992px)
{
  .header img {
    width: 30px;
  }
}