@font-face {
  font-family: EBGaramond;
  src: url(../../assets/fonts/EBGaramond-Regular.ttf);
}

@font-face {
  font-family: EBGaramond;
  src: url(../../assets/fonts/EBGaramond-Regular.woff2);
}

@font-face {
  font-family: EBGaramond;
  src: url(../../assets/fonts/EBGaramond-Regular.eot);
}

@font-face {
  font-family: EBGaramond;
  src: url(../../assets/fonts/EBGaramond-Regular.woff);
}

@font-face {
  font-family: MissionGothic;
  src: url(../../assets/fonts/MissionGothic-Regular.ttf);
}

@font-face {
  font-family: MissionGothic;
  src: url(../../assets/fonts/MissionGothic-Regular.woff2);
}

@font-face {
  font-family: MissionGothic;
  src: url(../../assets/fonts/MissionGothic-Regular.eot);
}

@font-face {
  font-family: MissionGothic;
  src: url(../../assets/fonts/MissionGothic-Regular.woff);
}
