.heroImageBlock {
  height: 500px;
  background-size: cover;
  position: relative;
}

.heroImageBlock .content {
  font-family: MissionGothic;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #fff;
  position: absolute;
  transform: translateX(-50%);
}

.heroImageBlock .content .title {
  margin-top: 10px;
}


@media (min-width: 992px)
{
  .heroImageBlock .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 10%;
    left: 50%;
  }
  .heroImageBlock .content .introText {
    font-size: 22px;
    line-height: 1.27;
    letter-spacing: 1.8px;
    text-align: center;
  }
  .heroImageBlock .content .title {
    font-size: 40px;
    line-height: 1.25;
    letter-spacing: 1.5px;
    text-align: center;
  }
  
}
@media (max-width: 992px) {
  .heroImageBlock .content {
    bottom: 5%;
    left: 40%;
  }
  .heroImageBlock .content .introText {
    font-size: 13px;
    line-height: 1.38;
    letter-spacing: 1.5px;
  }
  .heroImageBlock .content .title {
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 2px;
  }
  
}

