.imageBlock {
  margin-top: 10px;
  position: relative;
}

.imageBlock img {
  width: 100%;
}

button.next, button.previous {
  position: absolute;
  top: 50%;
  border: none;
  background-color: #fff;
  opacity: 0.5;
  padding: 10px;
}

button.next {
  right: 10px;
}

button.previous {
  left: 10px;
}

.carousalSlide {
  background-color: #ededed;
  padding: 20px;
}

@media (max-width: 992px)
{
  button.next, button.previous {
    padding: 5px;
  }
  button svg {
    width: 25px;
    height: 25px;
  }
}